@import "breakpoint";
@import "normalize.css";


$bkpt-login-small: 370px;
$bkpt-login-medium: 490px;
$bkpt-login-large: 865px;

body{
 background-color: red;
}
@include breakpoint($bkpt-login-small){
 body{
  background-color: orange;
 }
}
@include breakpoint($bkpt-login-medium){
 body{
  background-color: yellow;
 }
}
@include breakpoint($bkpt-login-large){
 body{
  background-color: green;
 }
}
