@import url(normalize.css);
body {
  background-color: red;
}

@media (min-width: 370px) {
  body {
    background-color: orange;
  }
}
@media (min-width: 490px) {
  body {
    background-color: yellow;
  }
}
@media (min-width: 865px) {
  body {
    background-color: green;
  }
}
