body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

h1 {
  color: orange;
}

p {
  color: brown;
}

h2 {
  color: pink;
}
